/*Contact us*/

h1,
p,
input,
textarea,
button {
  margin: 25px 0;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*input labels*/

.userlabel,
.emaillabel,
.subjectlabel,
.commentlabel {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: -0.2em;
  left: 0;
}

.name-container,
.email-container,
.subject-container,
.textarea-container {
  position: relative;
  margin: 1em 0;
}
@media (max-width: 769px) {
  .userlabel,
  .emaillabel,
  .subjectlabel {
    font-size: 18px;
  }
  .commentlabel {
    font-size: 18px;
  }
}
@media (max-width: 620px) {
  .userlabel,
  .emaillabel,
  .subjectlabel {
    font-size: 16px;
  }
  .commentlabel {
    font-size: 16px;
  }
}
